<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for question in questions %}
            <li>{{ question.title }}</li>
            <form>
                <select name="c" size="1">
                    {% for choice in question.comment_set.all %}
                        <option>{{ choice.content }}</option>
                        
                    {% endfor %}
                </select>
                <input type="submit" value="제출"/>
            </form>
    {% endfor %}
</body>
</html>